

@font-face{
    font-family: 'Share-Bold';
    src: url('/static/fonts/Share-Bold.ttf')
}

@font-face{
    font-family: 'Share-Regular';
    src: url('/static/fonts/Share-Regular.ttf')
}

@font-face{
    font-family: 'ShareTechMono-Regular';
    src: url('/static/fonts/ShareTechMono-Regular.ttf')
}


body{
    font-family: 'Share-Regular';
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'ShareTechMono-Regular';
}

.title{
    font-family: 'Share-Bold';
}
.footer{
    font-family: 'Share-Regular';
}
.logo{
    margin-left: 3rem;
}

.page-wrapper,.section-wrapper{
    padding-top:30px;
    padding-bottom:30px;
}
a {
    color: white;
  }
a:hover {
    color: gray;
}
.center-email{
    margin-left: 460px;
}

.bg-copm{
    background-color: black;
}